<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mytest4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88A5AE0F2026A87D00F89C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88A5AE272026A87D00F89C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88A5AE322026A87D00F89C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
