<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pictures</key>
	<dict>
		<key>0214</key>
		<string>%@_jtbj_icon</string>
		<key>0201</key>
		<string>%@_dtdzncz_icon</string>
		<key>0213</key>
		<string>%@_fm_icon</string>
		<key>0301</key>
		<string>%@_switch_icon</string>
		<key>0305</key>
		<string>%@_btn_icon</string>
		<key>0006</key>
		<string>%@_qtjc_icon</string>
		<key>0109</key>
		<string>%@_smbjq_icon</string>
		<key>0005</key>
		<string>%@_smbjq_icon</string>
		<key>0002</key>
		<string>%@_qtjc_icon</string>
		<key>0004</key>
		<string>%@_sgbjq_icon</string>
		<key>0200</key>
		<string>%@_dtdzncz_icon</string>
		<key>0400</key>
		<string>%@_wgjd_icon</string>
		<key>0100</key>
		<string>%@_pirtcq_icon</string>
		<key>0101</key>
		<string>%@_mc_icon</string>
		<key>0300</key>
		<string>%@_sosbtn_icon</string>
		<key>0000</key>
		<string>%@_cobjq_icon</string>
		<key>0001</key>
		<string>%@_smbjq_icon</string>
		<key>0102</key>
		<string>%@_wsdjcy_icon</string>
		<key>0003</key>
		<string>%@_rg_icon</string>
		<key>020A</key>
		<string>%@_lamp_icon</string>
		<key>020D</key>
		<string>%@_jtbj_icon</string>
		<key>0209</key>
		<string>%@_cl_icon</string>
		<key>0210</key>
		<string>%@_mj_icon</string>
		<key>0208</key>
		<string>%@_fm_icon</string>
		<key>0302</key>
		<string>%@_btn_icon</string>
		<key>0303</key>
		<string>%@_btn_icon</string>
		<key>0304</key>
		<string>%@_btn_icon</string>
		<key>0306</key>
		<string>%@_btn_icon</string>
		<key>0307</key>
		<string>%@_btn_icon</string>
		<key>0308</key>
		<string>%@_btn_icon</string>
	</dict>
	<key>names</key>
	<dict>
		<key>0214</key>
		<string>调光模块</string>
		<key>0201</key>
		<string>双路开关</string>
		<key>0213</key>
		<string>门锁</string>
		<key>0305</key>
		<string>情景开关</string>
		<key>0301</key>
		<string>按键</string>
		<key>0006</key>
		<string>气体探测器</string>
		<key>0109</key>
		<string>复合型烟感</string>
		<key>0005</key>
		<string>复合型烟感</string>
		<key>0002</key>
		<string>气体探测器</string>
		<key>0004</key>
		<string>水感报警器</string>
		<key>0200</key>
		<string>智能插座</string>
		<key>0400</key>
		<string>网关</string>
		<key>0100</key>
		<string>PIR探测器</string>
		<key>0101</key>
		<string>门磁</string>
		<key>0300</key>
		<string>SOS按钮</string>
		<key>0000</key>
		<string>CO报警器</string>
		<key>0001</key>
		<string>SM报警器</string>
		<key>0102</key>
		<string>温湿度探测器</string>
		<key>0003</key>
		<string>热感报警器</string>
		<key>020A</key>
		<string>灯</string>
		<key>020D</key>
		<string>室内警笛</string>
		<key>0209</key>
		<string>窗帘</string>
		<key>0210</key>
		<string>门禁</string>
		<key>0208</key>
		<string>阀门</string>
		<key>0302</key>
		<string>2扭按键</string>
		<key>0303</key>
		<string>3扭按键</string>
		<key>0304</key>
		<string>4扭按键</string>
		<key>0306</key>
		<string>6扭按键</string>
		<key>0307</key>
		<string>7扭按键</string>
		<key>0308</key>
		<string>8扭按键</string>
	</dict>
</dict>
</plist>
