<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pictures</key>
	<dict>
		<key>214</key>
		<string>%@_jtbj_icon</string>
		<key>201</key>
		<string>%@_dtdzncz_icon</string>
		<key>213</key>
		<string>%@_fm_icon</string>
		<key>301</key>
		<string>%@_switch_icon</string>
		<key>305</key>
		<string>%@_btn_icon</string>
		<key>006</key>
		<string>%@_qtjc_icon</string>
		<key>109</key>
		<string>%@_smbjq_icon</string>
		<key>005</key>
		<string>%@_smbjq_icon</string>
		<key>002</key>
		<string>%@_qtjc_icon</string>
		<key>004</key>
		<string>%@_sgbjq_icon</string>
		<key>200</key>
		<string>%@_dtdzncz_icon</string>
		<key>400</key>
		<string>%@_wgjd_icon</string>
		<key>100</key>
		<string>%@_pirtcq_icon</string>
		<key>101</key>
		<string>%@_mc_icon</string>
		<key>300</key>
		<string>%@_sosbtn_icon</string>
		<key>000</key>
		<string>%@_cobjq_icon</string>
		<key>001</key>
		<string>%@_smbjq_icon</string>
		<key>102</key>
		<string>%@_wsdjcy_icon</string>
		<key>003</key>
		<string>%@_rg_icon</string>
		<key>20A</key>
		<string>%@_lamp_icon</string>
		<key>20D</key>
		<string>%@_jtbj_icon</string>
		<key>209</key>
		<string>%@_cl_icon</string>
		<key>210</key>
		<string>%@_mj_icon</string>
		<key>208</key>
		<string>%@_fm_icon</string>
		<key>302</key>
		<string>%@_btn_icon</string>
		<key>303</key>
		<string>%@_btn_icon</string>
		<key>304</key>
		<string>%@_btn_icon</string>
		<key>306</key>
		<string>%@_btn_icon</string>
		<key>307</key>
		<string>%@_btn_icon</string>
		<key>308</key>
		<string>%@_btn_icon</string>
	</dict>
	<key>names</key>
	<dict>
		<key>214</key>
		<string>调光模块</string>
		<key>201</key>
		<string>双路开关</string>
		<key>213</key>
		<string>门锁</string>
		<key>305</key>
		<string>情景开关</string>
		<key>301</key>
		<string>按键</string>
		<key>006</key>
		<string>气体探测器</string>
		<key>109</key>
		<string>复合型烟感</string>
		<key>005</key>
		<string>复合型烟感</string>
		<key>002</key>
		<string>气体探测器</string>
		<key>004</key>
		<string>水感报警器</string>
		<key>200</key>
		<string>智能插座</string>
		<key>400</key>
		<string>网关</string>
		<key>100</key>
		<string>PIR探测器</string>
		<key>101</key>
		<string>门磁</string>
		<key>300</key>
		<string>SOS按钮</string>
		<key>000</key>
		<string>CO报警器</string>
		<key>001</key>
		<string>SM报警器</string>
		<key>102</key>
		<string>温湿度探测器</string>
		<key>003</key>
		<string>热感报警器</string>
		<key>20A</key>
		<string>灯</string>
		<key>20D</key>
		<string>室内警笛</string>
		<key>209</key>
		<string>窗帘</string>
		<key>210</key>
		<string>门禁</string>
		<key>208</key>
		<string>阀门</string>
		<key>302</key>
		<string>2扭按键</string>
		<key>303</key>
		<string>3扭按键</string>
		<key>304</key>
		<string>4扭按键</string>
		<key>306</key>
		<string>6扭按键</string>
		<key>307</key>
		<string>7扭按键</string>
		<key>308</key>
		<string>8扭按键</string>
	</dict>
</dict>
</plist>
