<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>气体探测器</key>
    <array>
        <dict>
            <key>value</key>
            <string>00005500</string>
            <key>name</key>
            <string>报警</string>
        </dict>
        <dict>
            <key>value</key>
            <string>0000BB00</string>
            <key>name</key>
            <string>测试报警</string>
        </dict>
    </array>
	<key>水感报警器</key>
	<array>
		<dict>
			<key>value</key>
			<string>00005500</string>
			<key>name</key>
			<string>报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>0000BB00</string>
			<key>name</key>
			<string>测试报警</string>
		</dict>
	</array>
	<key>热感报警器</key>
	<array>
		<dict>
			<key>value</key>
			<string>00005500</string>
			<key>name</key>
			<string>报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>0000BB00</string>
			<key>name</key>
			<string>测试报警</string>
		</dict>
	</array>
	<key>SM报警器</key>
	<array>
		<dict>
			<key>value</key>
			<string>00005500</string>
			<key>name</key>
			<string>报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>0000BB00</string>
			<key>name</key>
			<string>测试报警</string>
		</dict>
	</array>
	<key>情景开关</key>
	<array>
		<dict>
			<key>name</key>
			<string>求救</string>
			<key>value</key>
			<string>00005500</string>
		</dict>
		<dict>
			<key>name</key>
			<string>离线</string>
			<key>value</key>
			<string>00006600</string>
		</dict>
	</array>
	<key>阀门</key>
	<array>
		<dict>
			<key>value</key>
			<string>00005500</string>
			<key>name</key>
			<string>开</string>
		</dict>
		<dict>
			<key>value</key>
			<string>0000AA00</string>
			<key>name</key>
			<string>关</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00007700</string>
			<key>name</key>
			<string>开启/关闭</string>
		</dict>
	</array>
	<key>窗帘</key>
	<array>
		<dict>
			<key>value</key>
			<string>00005500</string>
			<key>name</key>
			<string>开</string>
		</dict>
		<dict>
			<key>value</key>
			<string>0000AA00</string>
			<key>name</key>
			<string>关</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00007700</string>
			<key>name</key>
			<string>开启/关闭</string>
		</dict>
	</array>
	<key>室内警笛</key>
	<array>
		<dict>
			<key>value</key>
			<string>00001100</string>
			<key>name</key>
			<string>CO报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00003300</string>
			<key>name</key>
			<string>非法入侵报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00002200</string>
			<key>name</key>
			<string>SM报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00004400</string>
			<key>name</key>
			<string>危险报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00005500</string>
			<key>name</key>
			<string>静音</string>
		</dict>
	</array>
	<key>网关</key>
	<array>
		<dict>
			<key>value</key>
			<string>44000000</string>
			<key>name</key>
			<string>危险报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>33000000</string>
			<key>name</key>
			<string>非法入侵报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00000000</string>
			<key>name</key>
			<string>静音</string>
		</dict>
		<dict>
			<key>value</key>
			<string>22000000</string>
			<key>name</key>
			<string>门铃报警</string>
		</dict>
	</array>
	<key>SOS按钮</key>
	<array>
		<dict>
			<key>value</key>
			<string>00005500</string>
			<key>name</key>
			<string>求救</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00006600</string>
			<key>name</key>
			<string>离线</string>
		</dict>
	</array>
	<key>按钮</key>
	<array>
		<dict>
			<key>value</key>
			<string>ff000000</string>
			<key>name</key>
			<string>有效</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00000000</string>
			<key>name</key>
			<string>无效</string>
		</dict>
	</array>
	<key>PIR探测器</key>
	<array>
		<dict>
			<key>value</key>
			<string>0000AA00</string>
			<key>name</key>
			<string>正常</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00005500</string>
			<key>name</key>
			<string>有人移动报警</string>
		</dict>
	</array>
	<key>门磁</key>
	<array>
		<dict>
			<key>value</key>
			<string>00005500</string>
			<key>name</key>
			<string>门打开</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00006600</string>
			<key>name</key>
			<string>门没有关</string>
		</dict>
		<dict>
			<key>value</key>
			<string>0000AA00</string>
			<key>name</key>
			<string>门关闭</string>
		</dict>
	</array>
	<key>门锁</key>
	<array>
		<dict>
			<key>value</key>
			<string>00005000</string>
			<key>name</key>
			<string>开锁</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00005100</string>
			<key>name</key>
			<string>密码开锁</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00005300</string>
			<key>name</key>
			<string>指纹开锁</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00005200</string>
			<key>name</key>
			<string>卡开锁</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00000100</string>
			<key>name</key>
			<string>非法操作报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00000200</string>
			<key>name</key>
			<string>拆除报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00000300</string>
			<key>name</key>
			<string>胁迫报警</string>
		</dict>
	</array>
	<key>智能插座</key>
	<array>
		<dict>
			<key>value</key>
			<string>01010000</string>
			<key>name</key>
			<string>插座开</string>
		</dict>
		<dict>
			<key>value</key>
			<string>01000000</string>
			<key>name</key>
			<string>插座关</string>
		</dict>
		<dict>
			<key>value</key>
			<string>0100FF00</string>
			<key>name</key>
			<string>插座切换</string>
		</dict>
	</array>
	<key>CO报警器</key>
	<array>
		<dict>
			<key>value</key>
			<string>00005500</string>
			<key>name</key>
			<string>报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>0000BB00</string>
			<key>name</key>
			<string>测试报警</string>
		</dict>
	</array>
	<key>复合型烟感</key>
	<array>
		<dict>
			<key>value</key>
			<string>00001900</string>
			<key>name</key>
			<string>火灾报警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>00001700</string>
			<key>name</key>
			<string>测试报警</string>
		</dict>
	</array>
</dict>
</plist>
