<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>951</string>
		<key>city</key>
		<string>宁波</string>
		<key>areas</key>
		<array>
			<dict>
				<key>area</key>
				<string>海曙区</string>
				<key>id</key>
				<string>952</string>
				<key>streets</key>
				<array>
					<dict>
						<key>street</key>
						<string>全部</string>
						<key>id</key>
						<string>-1</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1</string>
						<key>street</key>
						<string>南门街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>2</string>
						<key>street</key>
						<string>江厦街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>3</string>
						<key>street</key>
						<string>西门街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>4</string>
						<key>street</key>
						<string>月湖街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>5</string>
						<key>street</key>
						<string>鼓楼街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>6</string>
						<key>street</key>
						<string>白云街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>7</string>
						<key>street</key>
						<string>段塘街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>8</string>
						<key>street</key>
						<string>望春街道</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>area</key>
				<string>江东区</string>
				<key>id</key>
				<string>953</string>
				<key>streets</key>
				<array>
					<dict>
						<key>street</key>
						<string>全部</string>
						<key>id</key>
						<string>-1</string>
					</dict>
					<dict>
						<key>id</key>
						<string>9</string>
						<key>street</key>
						<string>百仗街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>10</string>
						<key>street</key>
						<string>东胜街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>11</string>
						<key>street</key>
						<string>明楼街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>12</string>
						<key>street</key>
						<string>白鹤街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>13</string>
						<key>street</key>
						<string>东柳街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>14</string>
						<key>street</key>
						<string>东郊街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>15</string>
						<key>street</key>
						<string>福明街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>16</string>
						<key>street</key>
						<string>新明街道</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>area</key>
				<string>江北区</string>
				<key>id</key>
				<string>954</string>
				<key>streets</key>
				<array>
                    <dict>
                        <key>street</key>
                        <string>全部</string>
                        <key>id</key>
                        <string>-1</string>
                    </dict>
					<dict>
						<key>id</key>
						<string>17</string>
						<key>street</key>
						<string>中马街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>18</string>
						<key>street</key>
						<string>白沙街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>19</string>
						<key>street</key>
						<string>孔浦街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>20</string>
						<key>street</key>
						<string>文教街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>21</string>
						<key>street</key>
						<string>甬江街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>22</string>
						<key>street</key>
						<string>庄桥街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>23</string>
						<key>street</key>
						<string>洪塘街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>24</string>
						<key>street</key>
						<string>慈城镇</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>area</key>
				<string>北仑区</string>
				<key>id</key>
				<string>955</string>
				<key>streets</key>
				<array>
                    <dict>
                        <key>street</key>
                        <string>全部</string>
                        <key>id</key>
                        <string>-1</string>
                    </dict>
					<dict>
						<key>id</key>
						<string>25</string>
						<key>street</key>
						<string>大榭街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>26</string>
						<key>street</key>
						<string>新碶街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>27</string>
						<key>street</key>
						<string>小港街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>28</string>
						<key>street</key>
						<string>大碶街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>29</string>
						<key>street</key>
						<string>霞浦街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>30</string>
						<key>street</key>
						<string>柴桥街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>31</string>
						<key>street</key>
						<string>戚家山街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>32</string>
						<key>street</key>
						<string>白峰镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>33</string>
						<key>street</key>
						<string>春晓镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>34</string>
						<key>street</key>
						<string>梅山乡</string>
					</dict>
					<dict>
						<key>id</key>
						<string>35</string>
						<key>street</key>
						<string>保税区</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>area</key>
				<string>镇海区</string>
				<key>id</key>
				<string>956</string>
				<key>streets</key>
				<array>
                    <dict>
                        <key>street</key>
                        <string>全部</string>
                        <key>id</key>
                        <string>-1</string>
                    </dict>
					<dict>
						<key>id</key>
						<string>36</string>
						<key>street</key>
						<string>招宝山街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>37</string>
						<key>street</key>
						<string>蛟川街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>38</string>
						<key>street</key>
						<string>贵驷街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>39</string>
						<key>street</key>
						<string>骆驼街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>40</string>
						<key>street</key>
						<string>庄市街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>41</string>
						<key>street</key>
						<string>澥浦镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>42</string>
						<key>street</key>
						<string>九龙湖镇</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>area</key>
				<string>鄞州区</string>
				<key>id</key>
				<string>957</string>
				<key>streets</key>
				<array>
                    <dict>
                        <key>street</key>
                        <string>全部</string>
                        <key>id</key>
                        <string>-1</string>
                    </dict>
					<dict>
						<key>id</key>
						<string>43</string>
						<key>street</key>
						<string>下应街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>44</string>
						<key>street</key>
						<string>钟公庙街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>45</string>
						<key>street</key>
						<string>石碶街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>46</string>
						<key>street</key>
						<string>梅墟街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>47</string>
						<key>street</key>
						<string>中河街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>48</string>
						<key>street</key>
						<string>首南街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>49</string>
						<key>street</key>
						<string>瞻歧镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>50</string>
						<key>street</key>
						<string>咸祥镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>51</string>
						<key>street</key>
						<string>塘溪镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>52</string>
						<key>street</key>
						<string>东钱湖镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>53</string>
						<key>street</key>
						<string>东吴镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>54</string>
						<key>street</key>
						<string>五乡镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>55</string>
						<key>street</key>
						<string>邱隘镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>56</string>
						<key>street</key>
						<string>云龙镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>57</string>
						<key>street</key>
						<string>横溪镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>58</string>
						<key>street</key>
						<string>姜山镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>59</string>
						<key>street</key>
						<string>高桥镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>60</string>
						<key>street</key>
						<string>横街镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>61</string>
						<key>street</key>
						<string>集士港镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>62</string>
						<key>street</key>
						<string>古林镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>63</string>
						<key>street</key>
						<string>洞桥镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>64</string>
						<key>street</key>
						<string>鄞江镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>65</string>
						<key>street</key>
						<string>章水镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>66</string>
						<key>street</key>
						<string>龙观乡</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>area</key>
				<string>象山县</string>
				<key>id</key>
				<string>958</string>
				<key>streets</key>
				<array>
                    <dict>
                        <key>street</key>
                        <string>全部</string>
                        <key>id</key>
                        <string>-1</string>
                    </dict>
					<dict>
						<key>id</key>
						<string>67</string>
						<key>street</key>
						<string>丹东街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>68</string>
						<key>street</key>
						<string>丹西街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>69</string>
						<key>street</key>
						<string>爵溪街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>70</string>
						<key>street</key>
						<string>石浦镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>71</string>
						<key>street</key>
						<string>西周镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>72</string>
						<key>street</key>
						<string>鹤浦镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>73</string>
						<key>street</key>
						<string>贤痒镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>74</string>
						<key>street</key>
						<string>墙头镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>75</string>
						<key>street</key>
						<string>泗州头镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>76</string>
						<key>street</key>
						<string>定塘镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>77</string>
						<key>street</key>
						<string>涂茨镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>78</string>
						<key>street</key>
						<string>大徐镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>79</string>
						<key>street</key>
						<string>新桥镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>80</string>
						<key>street</key>
						<string>东陈乡</string>
					</dict>
					<dict>
						<key>id</key>
						<string>81</string>
						<key>street</key>
						<string>晓塘乡</string>
					</dict>
					<dict>
						<key>id</key>
						<string>82</string>
						<key>street</key>
						<string>黄避岙乡</string>
					</dict>
					<dict>
						<key>id</key>
						<string>83</string>
						<key>street</key>
						<string>茅洋乡</string>
					</dict>
					<dict>
						<key>id</key>
						<string>84</string>
						<key>street</key>
						<string>高塘岛乡</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>area</key>
				<string>宁海县</string>
				<key>id</key>
				<string>959</string>
				<key>streets</key>
				<array>
                    <dict>
                        <key>street</key>
                        <string>全部</string>
                        <key>id</key>
                        <string>-1</string>
                    </dict>
					<dict>
						<key>id</key>
						<string>85</string>
						<key>street</key>
						<string>跃龙街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>86</string>
						<key>street</key>
						<string>桃源街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>87</string>
						<key>street</key>
						<string>梅林街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>88</string>
						<key>street</key>
						<string>桥头湖街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>89</string>
						<key>street</key>
						<string>长街镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>90</string>
						<key>street</key>
						<string>力洋镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>91</string>
						<key>street</key>
						<string>一市镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>92</string>
						<key>street</key>
						<string>岔路镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>93</string>
						<key>street</key>
						<string>前童镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>94</string>
						<key>street</key>
						<string>桑州镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>95</string>
						<key>street</key>
						<string>黄坛镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>96</string>
						<key>street</key>
						<string>大佳何镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>97</string>
						<key>street</key>
						<string>强蛟镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>98</string>
						<key>street</key>
						<string>西店镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>99</string>
						<key>street</key>
						<string>深甽镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>100</string>
						<key>street</key>
						<string>胡陈乡</string>
					</dict>
					<dict>
						<key>id</key>
						<string>101</string>
						<key>street</key>
						<string>茶园乡</string>
					</dict>
					<dict>
						<key>id</key>
						<string>102</string>
						<key>street</key>
						<string>越溪乡</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>area</key>
				<string>余姚市</string>
				<key>id</key>
				<string>960</string>
				<key>streets</key>
				<array>
                    <dict>
                        <key>street</key>
                        <string>全部</string>
                        <key>id</key>
                        <string>-1</string>
                    </dict>
					<dict>
						<key>id</key>
						<string>103</string>
						<key>street</key>
						<string>梨洲街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>104</string>
						<key>street</key>
						<string>凤山街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>105</string>
						<key>street</key>
						<string>兰江街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>106</string>
						<key>street</key>
						<string>阳明街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>107</string>
						<key>street</key>
						<string>低塘街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>108</string>
						<key>street</key>
						<string>郎霞街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>109</string>
						<key>street</key>
						<string>临山镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>110</string>
						<key>street</key>
						<string>黄家埠镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>111</string>
						<key>street</key>
						<string>小曹娥镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>112</string>
						<key>street</key>
						<string>泗门镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>113</string>
						<key>street</key>
						<string>马渚镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>114</string>
						<key>street</key>
						<string>牟山镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>115</string>
						<key>street</key>
						<string>丈亭镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>116</string>
						<key>street</key>
						<string>三七市镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>117</string>
						<key>street</key>
						<string>河姆渡镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>118</string>
						<key>street</key>
						<string>大隐镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>119</string>
						<key>street</key>
						<string>陆埠镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>120</string>
						<key>street</key>
						<string>梁弄镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>121</string>
						<key>street</key>
						<string>大岚镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>122</string>
						<key>street</key>
						<string>四明山镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>123</string>
						<key>street</key>
						<string>鹿亭乡</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>area</key>
				<string>慈溪市</string>
				<key>id</key>
				<string>961</string>
				<key>streets</key>
				<array>
                    <dict>
                        <key>street</key>
                        <string>全部</string>
                        <key>id</key>
                        <string>-1</string>
                    </dict>
					<dict>
						<key>id</key>
						<string>124</string>
						<key>street</key>
						<string>宗汉街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>125</string>
						<key>street</key>
						<string>坎墩街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>126</string>
						<key>street</key>
						<string>浒山街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>127</string>
						<key>street</key>
						<string>白沙路街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>128</string>
						<key>street</key>
						<string>古塘街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>129</string>
						<key>street</key>
						<string>掌起镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>130</string>
						<key>street</key>
						<string>观海卫镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>131</string>
						<key>street</key>
						<string>附海镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>132</string>
						<key>street</key>
						<string>桥头镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>133</string>
						<key>street</key>
						<string>匡堰镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>134</string>
						<key>street</key>
						<string>逍林镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>135</string>
						<key>street</key>
						<string>新浦镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>136</string>
						<key>street</key>
						<string>胜山镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>137</string>
						<key>street</key>
						<string>横河镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>138</string>
						<key>street</key>
						<string>崇寿镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>139</string>
						<key>street</key>
						<string>庵东镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>140</string>
						<key>street</key>
						<string>长河镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>141</string>
						<key>street</key>
						<string>周巷镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>142</string>
						<key>street</key>
						<string>龙山镇</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>area</key>
				<string>奉化市</string>
				<key>id</key>
				<string>962</string>
				<key>streets</key>
				<array>
                    <dict>
                        <key>street</key>
                        <string>全部</string>
                        <key>id</key>
                        <string>-1</string>
                    </dict>
					<dict>
						<key>id</key>
						<string>143</string>
						<key>street</key>
						<string>锦屏街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>144</string>
						<key>street</key>
						<string>岳林街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>145</string>
						<key>street</key>
						<string>江口街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>146</string>
						<key>street</key>
						<string>西坞街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>147</string>
						<key>street</key>
						<string>萧王庙街道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>148</string>
						<key>street</key>
						<string>溪口镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>149</string>
						<key>street</key>
						<string>尚田镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>150</string>
						<key>street</key>
						<string>莼湖镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>151</string>
						<key>street</key>
						<string>裘村镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>152</string>
						<key>street</key>
						<string>大堰镇</string>
					</dict>
					<dict>
						<key>id</key>
						<string>153</string>
						<key>street</key>
						<string>松岙镇</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
